<div class="banner" style="background-position: center bottom; background-image: url(https://res.cloudinary.com/dj9iphc8u/image/upload/v1654801234/Sopra_Steria/03.VISION__PERSPECTIVE__FUTURE_297x210_qec4br.jpg);">
  <div class="container">
    <h1 style="color: #DE1E23;">Willkommen zu der Sopra Steria Java OCA Lern-App!</h1>
    <p style="color: #DE1E23;">Lerne konkrete fakten, spiele mit Kateikarten und Löse quizzes!</p>
    <a class="btn btn-danger" href="#">Starte hier!</a>
  </div>
</div>
