<div class="banner" style="background-position: center top; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dj9iphc8u/image/upload/c_crop,w_3508,x_0,y_808/v1653402673/Sopra_Steria/04._GROWTH__DEVELOPMENT__TRUST_297x210_avvrrt.jpg);">
  <div class="container">
    <h1>Willkommen zu der Sopra Steria Java OCA Lern-App!</h1>
    <p>Lerne konkrete fakten, spiele mit Kateikarten und Löse quizzes!</p>
    <a class="btn btn-success" href="#">Starte hier!</a>
  </div>
</div>
