<div class="progress" style="height: 30px;">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%=correct%>" aria-valuemin="0" aria-valuemax="<%=total%>" style="width: <%=ratio%>%;"><b><%=ratio%>%</b></div>
</div>