<%= render 'shared/banner' %>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dj9iphc8u/image/upload/c_scale,w_815/v1653412703/Sopra_Steria/janko-ferlic-sfL_QOnmy00-unsplash_faf5v3.jpg)">
    Material
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dj9iphc8u/image/upload/c_scale,w_698/v1653412706/Sopra_Steria/mediamodifier-ZZah4APmFjU-unsplash_w72hlx.jpg)">
    Kateikarten
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dj9iphc8u/image/upload/c_scale,w_711/v1653412708/Sopra_Steria/glenn-carstens-peters-npxXWgQ33ZQ-unsplash_u6kfap.jpg)">
    Tests
  </div>
</div>