<html>
  <head>
    <title>Java Learn App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <h1>Java Learn App</h1> <!-- Add this -->

    <%= yield %>

    <p>A very simple footer</p>  <!-- Add this -->
  </body>
</html>
